test/ademe.db
*.csv
test/corpus/reports/*.json
!test/corpus/files/**/*.csv

bun.lockb
/.idea/
*.iml
/node_modules/
/duplicate/
scripts/assets/enums.js
scripts/assets/tv.js
/coverage/
/test/fixtures/*.json
.npmrc
dist/reports/unit/
src/output.js

dist/reports/corpus/corpus_list_main.json

!dist/reports/corpus/*
dist/reports/corpus/**/*.json
dist/reports/corpus/*/*.csv

!dist/reports/corpus/**/corpus_detailed_report_main.csv
!dist/reports/corpus/**/corpus_global_report_main.json
!dist/reports/corpus/**/corpus_dpe_list_above_threshold_main.json

*.db
