test/ademe.db
*.csv
!test/corpus/corpus_dpe.csv
!test/corpus/dpe_immeuble_chauffage_individuel.csv
bun.lockb
/.idea/
*.iml
/node_modules/
/duplicate/
scripts/assets/enums.js
scripts/assets/tv.js
/coverage/
/test/fixtures/*.json
.npmrc
dist/reports/unit/
src/output.js
!dist/reports/corpus/corpus_dpe.csv
!dist/reports/corpus/dpe_immeuble_chauffage_individuel.csv
